.button-shop {
  font-weight: 700;
  font-size: 40px;
  color: white;
  background-color: #24241b;
  padding: 16px 55px;
  border: none;
  margin-top: 50px;
  margin-bottom: 225px;
}

.button-shop-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
