footer {
  background-color: #24241b;
  padding: 50px 65px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: top;
  gap: 158;
}

.footer-title {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 11px;
}
