.newsletter p {
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin: 40px 450px;
  line-height: 35px;
}

.text-field {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  gap: 493;
  border-bottom: solid;
  margin: 0 320px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 50px;
}
